<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Do We Care Anymore?</title>
    
</head>
<body>
    
        {{{body}}}

    <script src="../../public/js/all.js"></script>
   
</body>
</html>